{
  "ConnectionDefinition": {
    "apiKey": ""
  },
  "TestData": {
    "templateTranslationId": "",
    "campaignVariationTranslationId": "",
    "universalContentTranslationId": ""
  },
  "TestFolder": "TestFiles"
}
