{
  "ConnectionDefinition": {
    "apiKey": ""
  },
  "TestData": {
    "templateId": "",
    "templateLocale": "",
    "templateTranslationId": "",
    "campaignVariationTranslationId": "",
    "universalContentTranslationId": ""
  },
  "TestFolder": "TestFiles"
}
